<launch>
<include file="/opt/ros/indigo/share/turtlebot_bringup/launch/minimal.launch" />
<node name="socket2topic_nd" pkg="socket" type="socket2topic_nd" output="screen" />

<node name="ed_naodian_img" pkg="imgpcl" type="ed_naodian_img" output="screen" />
<node name="final_robot_move" pkg="imgpcl" type="final_robot_move" output="screen" />
</launch>
