<!-- 导航launch文件 -->
<launch>
  <!-- 唤醒turtlebot -->
  <include file="~/turtlebot/src/turtlebot/turtlebot_bringup/launch/minimal.launch" />
  <include file="$(find turtlebot_follower)/launch/includes/velocity_smoother.launch.xml">
      <arg name="nodelet_manager"  value="/mobile_base_nodelet_manager"/>
      <arg name="navigation_topic" value="/cmd_vel_mux/input/navi"/>
  </include>
 <include file="$(find turtlebot_follower)/launch/includes/safety_controller.launch.xml"/>
  <!--<include file="~/turtlebot/src/turtlebot_apps/turtlebot_follower/launch/follower.launch" /> -->
  
  <include file="$(find freenect_launch)/launch/doublekinect_test.launch">
  </include>
  <!-- 加载地图 -->
  <arg name="map_file" default="~/catkin_ws/src/navigation_test/maps/DemoMap.yaml" /> 
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
    
  <!-- 设置amcl-->
  <arg name="initial_pose_x" default="1.8315198099"/> <!-- 设置初始坐标 -->
  <arg name="initial_pose_y" default="-2.70883212347"/> 
  <arg name="initial_pose_a" default="-1"/>

  <include file="~/turtlebot/src/turtlebot_apps/turtlebot_navigation/launch/includes/amcl/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- 加载move_base -->
  <include file="~/turtlebot/src/turtlebot_apps/turtlebot_navigation/launch/includes/move_base.launch.xml"/>

  <!-- 3D visualization -->
  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="true" args="-d $(find navigation_test)/rviz/navigation.rviz"/>

  <!-- 加载C++节点 -->
  <node pkg="nodelet" type="nodelet" name="turtlebot_follower"
        args="load turtlebot_follower/TurtlebotFollower kinect/kinect_nodelet_manager">
    <remap from="turtlebot_follower/cmd_vel" to="follower_velocity_smoother/raw_cmd_vel"/>
    <remap from="depth/points" to="kinect/depth/points"/>
    <param name="enabled" value="false" />
    <param name="x_scale" value="5.0" />
    <param name="z_scale" value="2.0" />
    <param name="min_x" value="-0.25" />
    <param name="max_x" value="0.25" />
    <param name="min_y" value="0.1" />
    <param name="max_y" value="0.5" />
    <param name="max_z" value="1.4" />
    <param name="goal_z" value="0.7" />
  </node>
  <node pkg="navigation_test" type="emergency" name="emergency"/> 
  <node pkg="navigation_test" type="nav_help_me" name="nav_help_me" launch-prefix="xterm -e" /> 
  <node name="find_person2017_help" pkg="imgpcl" type="find_person2017_help" output="screen" />
</launch>





